{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Sun-Technology</h1>
    <p class="text-center"> Bienvenido a nuestra tienda AutoTech
        Aca encontraras diferentes categorias de armado para el
        carrito de tus sueños </p>

    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Iniciar session
        </a>
        <a class="btn btn-dark" href="/signup/">
            Registrarse
        </a>
    </div>
    </section>
</main>

{% endblock %}